# Written description of three observable trends based on the data.

1. Of the 576 total players the majority are male (84%) with a smaller percent being female (14%). Despite having a small percentage (1.9%) of non-disclosed gender players we can still safely say the main player base is male dominant.

 

2. The peak age demigraphic for this game appears to be young adults. The main group is ages 20-24 (44.8%) with secondary groups being 15-19 (18.6%) and 25-29 (13.4%). The peak demigraphic is also the main purchasing group and has brought in the most money.

 

3. The two most popluar items are Final Critic and Oathbreaker, Last Hope fo the Breaking Storm with 13 and 12 purchases respectively. All other items are 9 or less purchases. How can we make more items like these that people would be willing to buy?

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [134]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(8)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67

## Player Count

* Display the total number of players

In [135]:
total_players=len(purchase_data["SN"].unique())
all_players = pd.DataFrame({"Total Players":[total_players]})
all_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [136]:
#calculations
items = len(purchase_data["Item ID"].value_counts())
av_price = purchase_data["Price"].mean()
purchases = purchase_data["Purchase ID"].count()
revenue = purchase_data["Price"].sum()

#place all values in table
summarydf = pd.DataFrame({"Number of Unique Items":[items],
                       "Average Price":[av_price],
                       "Number of Purchases":[purchases],
                        "Total Revenue":[revenue]
                       })
#format dataframe
summarydf.style.format({"Average Price":"${:.2f}", "Total Revenue":"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [137]:
#slim down DF to contain only SN & gender - so we can delete duplicate values for accurate count
gender_df=purchase_data[["SN", "Gender"]]
gender_df.shape

#drop duplicate players because we only care about gender once 
gender_df=gender_df.drop_duplicates()
gender_df.shape

#calculate total count of each gender
gender_count = gender_df["Gender"].value_counts()

#calculate total players
percent_player = gender_count / total_players

#put all values in DF & format
gender_demo = pd.DataFrame({"Total Count":gender_count, "Percentage of Players":percent_player})
gender_demo.style.format({"Percentage of Players":"{:.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [138]:
#create group to split by gender
gender = purchase_data.groupby("Gender")

#calculations for purcase count, av purch price, tot purch value, avg purch per person
purchase_count = gender["Purchase ID"].count()
av_pp = gender["Price"].mean()
tot_val = gender["Price"].sum()
avg_ppp = tot_val / gender_count

#put all values in DF & format
purch_analysis = pd.DataFrame({"Purchase Count":purchase_count, "Average Purchase Price":av_pp, "Total Purchase Value":tot_val, "Avg Total Purchase per Person":avg_ppp})
purch_analysis.style.format({"Average Purchase Price":"${:.2f}", "Total Purchase Value":"${:,.2f}", "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [139]:
#cut duplicate data
agegroup_data = purchase_data[["SN", "Age"]]
agegroup_data = agegroup_data.drop_duplicates()
agegroup_data.shape

#establish bins and bin names - based off table we are supposed to create - maxage shows no one over 50 - use 50 for upmost bin
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 50]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#pd.cut the data into the bins & group by age
agegroup_data["Age Groups"] = pd.cut(agegroup_data["Age"], bins, labels=bin_names)
agegroup_data.head(10)

#calcluate total counts and percentages
agegroup = agegroup_data.groupby("Age Groups")
tot_count = agegroup["Age"].count()
percent_age = tot_count / total_players

#add to DF to put in table & format
age_demo = pd.DataFrame({"Total Count":tot_count, "Percentage of Players":percent_age})
age_demo.style.format({"Percentage of Players":"{:.2%}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [149]:
#using same bins as above
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 50]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#pd.cut the data into the bins & group by age - dont cut out duplicates cause want all purchases
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=bin_names)
age_group = purchase_data.groupby("Age Group")
age_group.head()

#perform calculations
pcount = age_group["Purchase ID"].count()
avg_pp = age_group["Price"].mean()
tot_pv = age_group["Price"].sum()
avg_totppp = tot_pv / tot_count

#add to DF to put in table & format
age_analysis = pd.DataFrame({"Purchase Count":pcount, "Average Purchase Price":avg_pp, "Total Purchase Value":tot_pv, "Avg Total Purchase per Person":avg_totppp})
age_analysis.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}", "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [156]:
#create group
top_spend = purchase_data.groupby("SN")

#perform calculations
pcount = top_spend["Purchase ID"].count()
avrg_pp = top_spend["Price"].mean()
tot_val = top_spend["Price"].sum()

#create new DF
top_spend = pd.DataFrame({"Purchase Count":pcount, "Average Purchase Price":avrg_pp, "Total Purchase Value":tot_val})
top_spend

#sort to display only top 5 & format
top_spend = top_spend.sort_values(["Total Purchase Value"], ascending=False).head()
top_spend.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [167]:
#Retrieve columns
cols = purchase_data[["Item ID", "Item Name", "Price"]]

#create group
pop_items = cols.groupby(["Item ID", "Item Name"])

#calculations
pcounts = pop_items["Price"].count()
pvalue = pop_items["Price"].sum()
pprice = pvalue / pcounts

#place in DataFrame, sort and format to show top 5
pop_items = pd.DataFrame({"Purchase Count":pcounts, "Item Price":pprice, "Total Purchase Value":pvalue})
pop_sort = pop_items.sort_values("Purchase Count", ascending=False).head()
pop_sort.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [171]:
pop_prof_sort = pop_items.sort_values("Total Purchase Value", ascending=False).head()
pop_prof_sort.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})